<div class="container d-flex align-items-center justify-content-center h-100">
  <div class="welcome-message d-flex flex-column align-items-center">
    <p class="text-center">
      Welcome to questionnaire, You'll be presented several questions and you'll be able to pick an option for it if you are a respondent.

      If you are an admin, you are allow to configure questionnaires and start them for respondent to input their answers. You'll also see insights and graphics
    </p>

    <button type="button" class="btn btn-primary mb-2">Go as Admin</button>
    <button type="button" class="btn btn-light ">Go as Respondent</button>
  </div>
</div>